.carousel-wrapper {
    overflow: hidden;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
}

.carousel {
    position: relative;
    display: flex;
}

.slide {
    transition: transform 0.7s;
}

.chevron {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    color: #f5f5f5;
    z-index: 2;
    transform: scale(2);
    bottom: 50%;
}

.chevron:hover {
    color: lightgray;
}

.chevron-left {
    left: 0;
    margin-left: 10px;
}

.chevron-right {
    right: 0;
    margin-right: 10px;
}

